* {
  margin: 0;
  background-color: lightgray;
}

.app {
  background-color: darkgray;
}

.app_header {
  object-fit: contain;
  background-color:#ffffff;
  padding-bottom: 4px;
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
}